.singup_input {
    width: 100%;
    padding: 1.5rem;
    margin: 20px auto;
    background: transparent;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}


input::placeholder {
  font-size: 0.6rem;
  font-family: var(--font-family-text);
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  opacity: 1;
}

input:focus::placeholder {
  opacity: 0.8;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.error_message_singup {
  width: 100%;
  font-size: 12px;
  color: red;
  display: none;
}

input:invalid[focus='true'] ~ span {
  display: block;
}

input:invalid[focus='true'] {
  border: 1px solid red;
}

