.top-to-btm{
    position: relative;
  }
  .icon-position{
    position: fixed;
    bottom: 40px;
    right: 31px;
    z-index: 20;
  }
  .icon-style{
    background-color: #000000;
    border: 1px solid #fff;
    height: 40px;
    width: 40px;
    padding: 0.45rem;
    color: #fff;
    cursor: pointer;
  }
  .icon-style:hover{
    animation: none;
    background: rgba(255, 255, 255, 0.89);
    color: #000000;
    border: 1px solid #000000;
  }
 